.slider-container {
  display: flex;
  gap: 20px;
}
.swiper {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.main-slider {
  width: 400px;
  height: 400px;
}
.main-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
